.nav-bar {
  display: flex;
  padding: 127px 100px 0 100px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 48px;
}
.link-2 {
  font-family: "inherit";
  font-style: inherit;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
  text-decoration: none;
}

.location-search {
  display: flex;
  align-items: center;
  position: relative;
}
.search-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  padding: 14px;
}

.label {
  position: absolute;
  right: 15px;
}
@media only screen and (max-width: 1200px) {
  .nav-bar {
    padding: 127px 80px 0 80px;
    gap: 25px;
  }
}

@media only screen and (max-width: 1024px) {
  .nav-bar {
    padding: 127px 40px 0 40px;
    gap: 25px;
  }
}

@media only screen and (max-width: 820px) {
  .nav-bar {
    padding: 127px 20px 0 20px;
    gap: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .list {
    grid-template-columns: 1fr;
  }
}
