.nfts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #a02279;
  border: 1px solid #000000;
  padding: 100px;
  align-items: center;
}

.aside-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nft-image {
  width: 56.9%;
}

.title-2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.note {
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  margin: 35px 0 57px 0;
}

.btn__2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  background-color: #ffffff;
  color: #a02279;
  padding: 14px 33px;
  text-decoration: none;
}

.background-image {
  width: 53.5%;
  height: 44.7%;
  border-radius: 10px;
  position: absolute;
}

@media only screen and (max-width: 1320px) {
  .background-image {
    width: 50.5%;
    height: 215.89px;
    border-radius: 10px;
    position: absolute;
  }

  .nft-image-3 {
    top: 235px;
  }
}

@media only screen and (max-width: 1200px) {
  .nfts {
    padding: 80px;
  }

  .title-2 {
    font-size: 38px;
    line-height: 50px;
    color: #ffffff;
  }

  .note {
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
    margin: 20px 0 35px 0;
  }
}

@media only screen and (max-width: 767px) {
  .nfts {
    flex-direction: column;
    padding: 40px;
    gap: 38px;
  }

  .aside-1 {
    width: 100%;
  }

  .title-2 {
    font-size: 48px;
    line-height: 60px;
    color: #ffffff;
  }

  .note {
    font-size: 18px;
    line-height: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .nfts {
    padding: 20px;
  }

  .aside-1 {
    width: 100%;
  }
}
