.footer {
  background: #1d1d1e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 58px 100px 37px 100px;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer h1 {
  color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 217px;
  margin: 16px 0;
}

.foot__list {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
}

.link {
  font-size: 14px;
  line-height: 35px;
  align-items: flex-start;
  color: #f1f3f9;
  text-decoration: none;
}

.copy {
  font-size: 16px;
  line-height: 16px;
  color: #f7f7f7;
}

@media only screen and (max-width: 1200px) {
  .footer {
    padding: 58px 80px 37px 80px;
  }
}
